.popup__input-error {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    margin: 0 auto;
    width: 100%;
    text-align: left;
    padding-top: 5px;
    display: none;
    min-height: 12px;
}