.register {
    width: 358px;
    font-family: Inter;
    font-style: normal;
    margin: 0 auto;
}

.register__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 60px;
    margin-bottom: 20px;
}

.register__input {
    background: none;
    border: none;
    padding: 0;
    width: 100%;
    border-bottom: 2px solid #CCCCCC;
    box-sizing: border-box;
    padding-bottom: 13px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin-top: 30px;
    color: #FFFFFF;
}

.register__sign-up {
    border: none;
    padding: 0;
    height: 50px;
    width: 100%;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin-top: 216px;
    margin-bottom: 15px;
    border-radius: 2px;
    transition: opacity 1s linear;
}

.register__sign-up:hover {
    cursor: pointer;
    opacity: .85;
    
}

.register__sign-in {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}

.register__sign-in_text {
    margin: 0;
    padding: 0;
}

.register__sign-in_link {
    color: #FFFFFF;
    text-decoration: none;
    padding: 0;
    margin: 0;
    display: inline;
    margin-left: 4px;
    transition: opacity 1s linear;
}

.register__sign-in_link:hover {
    cursor: pointer;
    opacity: .6;
}